@media screen and (min-width: 601px) {
  p {
    position: relative;
    font-size: 1.5vw;
    text-align: center;
    color: black;
    top: -85px;
    font-family: "Times New Roman", Times, serif;
  }
  .t{
    position: relative;
    font-size: 4vw;
    text-align: center;
    top: -20px;
    color: black;
    font-family: "Times New Roman", Times, serif;
  }
  .text1 {
    position: relative;
    font-size: 3vw;
    justify-content: center;
    text-align: center;
    padding-top:20px;
    font-family: "Times New Roman", Times, serif;
  }
  .design {
    position: relative;
    font-size:2vw;
    justify-content: center;
    text-align: center;
    padding-top:20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  p {
    position: relative;
    font-size: 4vw;
    text-align: center;
    top: -80px;
    color: black;
    font-family: "Times New Roman", Times, serif;
  }
  .t{
    position: relative;
    font-size: 6vw;
    text-align: center;
    top: -20px;
    color: black;
    font-family: "Times New Roman", Times, serif;
  }
  .text1 {
    position: relative;
    font-size: 4vmax;
    justify-content: center;
    text-align: center;
    padding-top:20px;
    font-family: "Times New Roman", Times, serif;
  }
  .design {
    position: relative;
    font-size:4.2vw;
    justify-content: center;
    text-align: center;
    padding-top:20px;
    font-family: Helvetica, Verdana, sans-serif;
  }
}
@import '~antd/dist/antd.css';
.menuBar{
  position: -webkit-sticky;
  padding: 0 20px;
  height: 100px;
  background-color:transparent;
}
.mylogo{
  position: sticky;
  width: 100%;
  max-width: 120px;
  height: auto;
  top: -10px;
  left:50px;
}

.menuCon{
  width: calc(100% - 150px);
  float: left;
}
.menuCon .ant-menu-item{
  position:sticky;
  padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title{
  padding: 10px 20px;
}
.menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title a{
  padding: 10px 15px;
}
.menuCon .ant-menu-horizontal{
  position:sticky;
  border-bottom: none;
  background-color: transparent;
  margin-top: 3vmax;
  margin-right: 0vmax;
}
.menuCon .leftMenu{
  float: left;
}
.menuCon .rightMenu{
  position: static;
  float: right;
}
.barsMenu{
  position: -webkit-sticky;
  float: left;
  height: 32px;
  padding: 6px;
  display: none;
  background: none;
  max-width : 100%;
  height: auto;
  margin-top: auto;
  right:-15vmax;
  top:35px;
}
.barsBtn{
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}
.barsBtn:after,.barsBtn:before{
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}
.barsBtn:after{
  top: auto;
  bottom: -6px;
}
.ant-drawer-body{
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal{
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom-color: transparent;
}

@media(max-width: 767px){
  .barsMenu{
    display: inline-block;
  }
  .leftMenu,.rightMenu{
    position: static;
    display: none;
  }
  .logo a{
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
    padding: 1px 20px;
  }
  .logo a{
    padding: 10px 20px;
  }
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Paper {
  height:auto;
  width: auto;
  min-height:auto;
  background: no-repeat center center scroll transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo {
  max-width:25%;
  height:auto;
  position: relative;
  display:block;
  margin:0 auto;
}
.hero {
  max-width:50%;
  height:auto;
  top:30px;
  position: relative;
  display:block;
  margin:0 auto;
  z-index: 1;
  overflow: hidden;
}
.text2 {
  position: relative;
  justify-content: center;
  text-align: center;
  padding-top:20px;
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1.8vw;
}
.navbar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: auto;
}
.header {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  width:15%;
}
.about{
	background-repeat: no-repeat;
	min-height: 400px;
	background-position: center;
	width: 100%;
  background-color: green;
  margin-top: -20px; 
}
.designer {
  max-width:25%;
  height:auto;
  position: relative;
  display:block;
  margin:0 auto;
  top: 25px;
}
.cardtext{
  position: relative;
  justify-content: center;
  text-align: center;
  font-family:serif;
  font-size: x-large;
  top: 50px;
}
.CardContent{
height:500px;
}
.CardContent{
  height:500px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    position: relative;
    display: flex;
    padding: 1rem;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .home{
width: 25px;

  }
#test
  {
    position: relative;
    display:none;
  }
  #grid
  {
    position: relative;
    display:none;
  }
  #grids
  {
    position: relative;
    display:none;
  }
  .wow {
    visibility: hidden;
  }